
body{
    background-color: white;
    background-image: url(../pexels-photo-13600672.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
   
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}

.lg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}

.image-1{
    display: flex;
    flex-direction: row;
}

.image-1 img{
    width:250px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.header a{
    margin: 25px;
    text-decoration: none;
    color: rgb(228, 197, 156);
    

}

nav {
    background-color: #fff;
    padding: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: width 0.6s linear;
  }
  nav.active {
    width: 350px;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
  }
  
  nav.active ul {
    width: 100%;
  }
  
  nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
  }
  
  nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
  }
  
  nav ul a {
    position: relative;
    color: #000;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .icon {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
  }
  
  .icon:focus {
    outline: 0;
  }
  
  .icon .line {
    background-color: #5290f9;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
  }
  
  .icon .line2 {
    top: auto;
    bottom: 10px;
  }
  
  nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
  }
  
  nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
  }
  


.text h1{
    margin-left: 0;
    font-size: 45px;
    

}

.text p{
    
    font-size: 15px;
    
}

.nav-image img{
    width:468px;
    height:80px;
    margin-right: 20px;
}

body{
    max-width: 100%;
}


.access{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:50px;
    margin-left:20px;
    margin-right:20px;
    bottom: 0;
    background-color: rgb(241, 233, 233);
    align-items: center;
}


.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row a{
    margin-top: 25px;
    margin: 15px;
    text-decoration: none;
    color:#ceb264;
    

}
.home {
    background-color: #ceb264!important;
    color:white !important;
    
    text-align: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.search{
    padding-top: 20px;
}

.search input{
    align-items: center;
    margin-bottom: 20px;
    border: none;
    border-radius: 2px;
    color: black;
    font-weight: 500;
    width:150px;
    height:35px;
    
}

.input-1{
    background-color: #ceb264;
    color:white;
    margin-left: 10px;
    margin-right: 15px;
}
.register {
    background: rgb(228, 221, 218);
    width: 600px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 25px;
    margin: 8% auto 0;
    position: relative;
    z-index: 1;
   

   

    
}

.title {
    text-align: center;
    font-size: 20px;
    font-weight: 100px;
    margin: 0;
    padding-bottom: 15px;
    color:black;
}

.register-1 {

    position: relative;
    margin-bottom: 20px;
}


.register-1 i {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border: 1px solid grey;
    width: 20px;
    height: 90%;
    text-align: center;

}

.register-1 input [type="text"],
[type="email"],
[type="password"] {
    width: 90%;
    height: 35px;
    border: 1px solid rgb(107, 101, 101);
    box-sizing: border-box;
    outline: none;
}

.register-1 input [type="checkbox"] {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    
}

#user{
    width: 88%;
    height: 30px;
}

#uadress{
    width:88%;
    height: 30px;
}

.animation-background:before{
 position: absolute;
 top:0;
 left:0;
 background: url(../falling-snow-gif-transparent-background-4.png);
 background-repeat:repeat;
 background-position: center;
animation: snowfall 8s linear infinite;
content: '';
width: 100%;
height: 90%;
}

@keyframes snowfall{
    0%{background-position: 0 0;}
    100%{background-position:0 360px ;}
}



.register-1 button {
    background: #ceb264;
    text-align: center;
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    color: white;
    font-size: 13px;
}

.option {
    width: 100%;
    height: 35px;
    border: 1px solid rgb(107, 101, 101);
    box-sizing: border-box;
    outline: none;
}

label{
    color: black;
}




    
.footer{
    background-color: black;
    box-sizing: border-box;
    padding: 70px 0;
    width: 100%;
    margin-top: 25px;
}



.container{
    max-width: 1170px;
    background-color:black; 
    margin: auto;
    width: 100%;
    height: auto;
}

.row-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 110px;

    
}

ul{
    list-style: none;
}

.footer-column{
    width:25%;
    padding: 0 15px;
    
}

.footer-column h3{
    font-size: 24px;
    color: #ceb264;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 800;
    position: relative;
    border-bottom: 1px solid;
    
}


.footer-column ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ceb264;
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin-top: 15px;
    margin-left: 35px;
    
}

.mail{
    font-size: 16px;
    color: #ceb264;
    margin-bottom: 30px;
    font-weight: 300;
    position: relative;
    
}

.footer-column input{
    width: 250px;
    height: 25px;
    background-color: rgb(228, 221, 218);
    opacity: 0.8;
    
}

.footer-column button{
    width: 30px;
    height: 25px;
   background-color: rgb(228, 221, 218);
   opacity: 0.8;
}

.footer-column .social-links a{
    display: inline-block;
    height:40px;
    width:40px;
    background-color: #ceb264;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    
}

.footer-column .social-links i{
    color: black;
}

.footer-column .social-links p{
    margin-left: 50px;
    margin-top: 20px;
    
}

.footer-column .social-links span{
    margin-left: 47px;
}

.footer-column .services h3{
    margin-left: 35px;
}


.footer-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 100%;
    padding-top: 25px;
    align-items: center;
}

.footer-rights p{
    font-weight: bold;
}

.footer-date{
    font-weight: bold;
}

.header a:hover {
    border-bottom: 2px dotted black;
    box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    ;
}